.parent {
    margin: 10px auto;
    display: flex;
}

.green {
	background: rgba(207, 240, 158, 0.13);
}

.span {
    justify-content: center;
    align-items: center;
    display: flex;
}

.date {
	width: 200px;
	margin: auto;
	font-size: 15pt; 
	font-weight: bold; 
	font-family: D2coding; 
}


.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
	border-color: #79BD9A !important;
    background-color: #79BD9A !important;
}

.btn-outline-success, .btn-outline-success:active, .btn-outline-success:visited  {
	border-color: #79BD9A !important;
    color: #79BD9A !important;
}

.btn-outline-success:hover {
	background-color: #79BD9A !important;
	border-color: #79BD9A !important;
	color: white !important;
}
.diaryBox1 {
	flex:3;
	margin: 0px 1%;
    box-sizing: border-box;
}

.diaryBox2 {
	flex:1;
    margin: 0px 1%;
    box-sizing: border-box;
}

.diaryLabel {
	flex:1;
	line-height:35px;
    margin: 0px auto;
    box-sizing: border-box;
}

.diaryInput {
	flex:8;
    margin: 0px auto;
    box-sizing: border-box;
}
