
.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  width: 80%
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 18px;
}

.answerList:hover, .answerList:focus {
  background-color: #A8DBA8;
  color: whitesmoke;
}

.clicked {
	color: #A8DBA8;
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

